.how {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 112px;

  .how-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;

    .how-heading {
      text-align: center;
      margin-bottom: 24px;
      letter-spacing: -1%;
    }

    .how-description {
      text-align: center;
    }
  }
}

.how-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 52px;
  width: 100%;
  max-width: 1380px;
  margin: 88px auto;
}

.how-card {
  padding: 24px;
  border-radius: 0.125rem;
  border: 1px solid #000;
  background: url(/pattern@2x.png) lightgray 0% 0% / 50px 50px repeat, #fff;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.08);

  .how-card-icon {
    image-rendering: pixelated;
    margin-bottom: 18px;
  }

  .how-card-title {
    font-family: var(--font-sfmono);
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -2%;
    text-align: left;
    font-weight: 600;
    margin-bottom: 36px;
  }

  .how-card-description {
    text-align: left;
  }
}
