/* Fonts */
:root {
  font-family: var(--font-ppneue), sans-serif;
}

code,
pre {
  font-family: var(--font-sfmono), monospace;
}

/* Hide the Next.js dev overlay button */
[data-nextjs-dialog] {
  display: none !important;
}

#__next-dev-client-overlay {
  display: none !important;
}

/* Global styles */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #000;
  background: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline {
  display: inline-block;
  border-bottom: 3px solid black; /* adjust thickness */
  line-height: 40px;
}
